{% macro default(content) %}
    <span class="label label-default>{{ content }}</span>
{% endmacro %}

{% macro primary(content) %}
    <span class="label label-primary">{{ content }}</span>
{% endmacro %}

{% macro success(content) %}
    <span class="label label-success>{{ content }}</span>
{% endmacro %}

{% macro info(content) %}
    <span class="label label-info">{{ content }}</span>
{% endmacro %}

{% macro warring(content) %}
    <span class="label label-warning">{{ content }}</span>
{% endmacro %}