{% extends 'PfeWebBundle::layout.html.twig' %}

{% block title_page %}<i class="fa fa-table"></i>Fiche d'homologation {% endblock %}

{% block content -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Type de fil</th>
                <td>{{ entity.filtype }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ entity.section }}</td>
            </tr>
            <tr>
                <th>Critère</th>
                <td>{{ entity.standard }}</td>
            </tr>
            <tr>
                <th>Hauteur de fil</th>
                <td>{{ entity.fil }}</td>
            </tr>
            <tr>
                <th>Largeur de fil</th>
                <td>{{ entity.filWidth }}</td>
            </tr>
            <tr>
                <th>Hauteur d'Isolation</th>
                <td>{{ entity.isolationHeight }}</td>
            </tr>
            <tr>
                <th>Largeur d'Isolation</th>
                <td>{{ entity.isolationWidth }}</td>
            </tr>
            <tr>
                <th>DCH</th>
                <td>{{ entity.stepDch }}</td>
            </tr>
            <tr>
                <th>ICH</th>
                <td>{{ entity.stepIch }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ entity.note }}</td>
            </tr>
            <tr>
                <th>Date </th>
                <td>{{ entity.date|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <i class="fa fa-mail-reply"><a href="{{ path('homologation') }}">
            Retour à la liste d'homologation
        </a></i>
    </li>
    <li>
        <a class="btn btn-warning-alt" href="{{ path('homologation_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
    </li>
    <li> {{ form(delete_form) }}</li>
</ul>
{% endblock %}
