{% extends 'PfeWebBundle::layout.html.twig' %}

{% import 'PfeWebBundle:Macro:button.html.twig' as button %}

{% block title_page %}
    <i class="fa fa-wrench"></i> {{ 'title.page.index'|trans({}, 'user') }}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'filter.title'|trans({}, 'user') }}</h3>
        </div>
        <div class="panel-body">

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'table.title'|trans({}, 'user') }}</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped mb30">
                    <thead>
                        <tr>
                            <th>{{ 'table.column.registration_number'|trans({}, 'user') }}</th>
                            <th>{{ 'table.column.first_name'|trans({}, 'user') }}</th>
                            <th>{{ 'table.column.last_name'|trans({}, 'user') }}</th>
                            <th>{{ 'table.column.email'|trans({}, 'user') }}</th>
                            <th>{{ 'table.column.role'|trans({}, 'user') }}</th>
                            <th>{{ 'table.column.enabled'|trans({}, 'user') }}</th>
                            <th>{{ 'table.action'|trans({}, 'backend') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.registrationnumber }}</td>
                            <td>{{ entity.firstname }}</td>
                            <td>{{ entity.lastname }}</td>
                            <td>{{ entity.email }}</td>
                            <td>
                                {% for role in entity.roles %}
                                    {{ role|trans({}, 'security') }}
                                {% endfor %}
                            </td>
                            <td>
                                {% if(entity.enabled) %}

                                {% else %}

                                {% endif %}
                                {{ entity.enabled }}</td>
                            <td>
                                {{ button.edit(path('pfe_user_edit', { 'token': entity.token })) }}
                                {{ button.delete(path('pfe_user_delete', { 'token': entity.token })) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
