{% extends 'PfeWebBundle::layout.html.twig' %}
{% import 'PfeWebBundle:Macro:button.html.twig' as macro %}

{% block title_page %}<i class="fa fa-list"></i> Liste des outils{% endblock %}
{% block content -%}
    <div class="clearfix mb30"></div>
        <div class="table-responsive">
            <div id="table1_wrapper" class="dataTables_wrapper" role="grid">

            <table class="table" id="table2">
                <div> <form class="searchform" action="http://themepixels.com/demo/webpage/bracket/index.html" method="post">
                        <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
                    </form>
                </div>
                <thead>
                <tr>
                       <th></th>
                    <th >Nom de l'outil </th>
                    <th>Fournisseur Outil </th>
                    <th>N° d'inventaire </th>
                    <th>N° Pièce LEONI </th>
                    <th>Date d'entrée </th>
                    <th>Active / En attente</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <th><a href="#">Détail</a></th>
                        <th>{{ entity.toolname }}</th>
                        <th>{{ entity.supplierName }}</th>
                        <th>{{ entity.inventoryNumber }}</th>
                        <th>{{ entity.leoniNbr }}</th>
                        <th>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</th>
                        <th>  {% if entity.enabled == 1  %}
                            <div class="col-xs-4 control-label">
                                <div class="toggle toggle-success" style="height: 20px; width: 50px;">
                                        <div class="toggle-inner" style="width: 80px; margin-left: 0px;">
                                            <div class="toggle-on active" style="height: 20px; width: 100px; text-align: center; text-indent: -10px; line-height: 20px;">Oui
                                            </div>
                                        </div>
                                </div> {% elseif entity.enabled == 0  %}
                            </div>
                                        <div class="col-xs-4 control-label">
                                            <div class="toggle-blob" style="height: 20px; width: 20px; margin-left: -10px;">
                                            </div>
                                            <div class="toggle-off" style="height: 20px; width: 100px; margin-left: -10px; text-align: center; text-indent: 10px; line-height: 20px;">Non
                                            </div>
                                        </div>

                                    {% endif %}
                        </th>
                        <th>
                            {{ macro.button('pfe_tool_index', 'edit') }}

                            </th>
                        <th>
                            <a class="delete-row" href="#">
                            <i class="fa fa-trash-o" data-toggle="modal" data-target=".bs-example-modal-sm" ></i>
                            </a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
        </div><!-- table-responsive -->
        <ul>
        <li>
            {{ macro.button('pfe_tool_index', 'new') }}
        </li>


            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                            <h4 class="modal-title">Voulez-vous Supprimer ?</h4>
                        </div>
        <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" >Confirmer</button>
        <button aria-hidden="true"  class="btn btn-primary" class="close" data-dismiss="modal" >Annuler</button>
                    </div>
                </div>
            </div>
    </ul>
    {% endblock %}


