{% extends 'PfeWebBundle::layout.html.twig' %}

{% block content -%}
    <h1>Tool</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom De l'outil </th>
                <td>{{ entity.toolname }}</td>
            </tr>
            <tr>
                <th>Fournisseur Outil </th>
                <td>{{ entity.supplierName }}</td>
            </tr>
            <tr>
                <th>N° d'inventaire</th>
                <td>{{ entity.inventoryNumber }}</td>
            </tr>
            <tr>
                <th>N° Pièce LEONI </th>
                <td>{{ entity.leoniNbr }}</td>
            </tr>
            <tr>
                <th>Date d'entrée </th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Active / En attente </th>
                <td>{{ entity.enabled }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
          <li>  <a href="{{ path('pfe_tool_edit', { 'id': entity.id }) }}">
                <div class="btn-group mr10">
                    <button class="btn btn-white tooltips" title="" data-toggle="tooltip" type="button" data-original-title="Archive">
                        <i class="glyphicon glyphicon-hdd"></i>
                    </button>
            </a>

            <button class="btn btn-white tooltips" title="" data-toggle="tooltip" type="button" data-original-title="Delete">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            </div>
</li>
            <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
